:root {
  --primary-text-color: #757575;
  --caption-text-color: #212121;
  --title-text-color: #ffffff;
  --accent-color: #2196f3;
  --dark-backgroung: #2f303a;
  --light-background: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}


body {  
    background-color: #fff;
    color: var(--primary-text-color) ;
    ;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
}

ul {
    list-style: none;
}

/* цвет основного текста #212121 */

/* вторичный цвет текста #757575 */

/* третий rgba(255, 255, 255, 0,6) */

/* белый #FFFFFF */

/* акцент #2196F3 */

/* основной цвет фона #FFFFFF */

/* вторичный цвет фона #F5F4FA */

/* доп цвет фона #2F303A */

.logo {
    color: var(--accent-color);
    text-decoration: none;
    font-family: Raleway, cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.low-logo {
  color: var(--caption-text-color);
  text-decoration: none;
  font-family: Raleway, cursive;

  font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--accent-color);
font-weight: 700;

}


/* site nav */
.site-nav .link {
    color: var(--caption-text-color);
    text-decoration: none;

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

    
}
.site-nav .nelink {
    color: var(--accent-color);
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.hero-title {
  color: var(--title-text-color);
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;


text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
}

.auth-nav .post, 
.number {
  color: var(--caption-text-color);
  text-decoration: none;
}


.number:hover,
 
.number:focus {
   color: var(--accent-color); 
}

.post:hover,
.post:focus {
 color: var(--accent-color);
}

.auth-low .post,
.number {  
   color: rgba(255, 255, 255, 0,6);
   text-decoration: none;  
}

.auth-low .post,
.number:hover,
.auth-low .post,
.number:focus {
   color: var(--accent-color); 
}


.section-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  
  color: var(--caption-text-color);
}

.section-p {
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

.section-title-2 {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  
  color: var(--caption-text-color);
  
}
.section-title-3 {
  font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
font-weight: 700;

color: var(--caption-text-color);
}

.section-h3 {
  font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--caption-text-color);
}

.section-p3 {
  font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;

color: var(--primary-text-color);
}

.address {
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: var(--title-text-color);
}

.low-post {
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: var(--footer-text-color);
}

.low-number {
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
  
color: var(--footer-text-color);
}

.order-button {
  background-color: #2196f3;
  font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;

color: var(--title-text-color);

}

/* PORTFOLIO */

.auth-nav-2 .portfolio-post,
.portfolio-number {
text-decoration: none;
}

.portfolio-number:hover,
.portfolio-number:focus {
color: var(--accent-color);
}

.portfolio-post:hover,
.portfolio-post:focus {
color: var(--accent-color);
}

.portfolio-number,
.portfolio-post {
  color: var(--caption-text-color);
}

.portfolio-images {
  font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

color: var(--caption-text-color);
}

.portfolio-p {
  font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;

color: var(--primary-text-color);
}

.portfolio-low-logo {
  font-family: Raleway, cursive;
  text-decoration: none;
  font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: var(--accent-color);

}

.portfolio-address {
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: var(--title-text-color);
}

.portfolio-post2 {
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: var(--footer-text-color);
}

.portfolio-number2 {
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: var(--footer-text-color);
}

.button:hover,
.button:focus {
  color: var(--accent-color);
}



 


